*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    scroll-behavior: smooth;
}
/* #514391 */

body{
    font-family: Montserrat Alternates;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.link{
    border-radius: 10px;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.5s;
}

.section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.section__title{
    color: #443f54;
    font-size: 40px;
}

.primary__text{
    color: #FB8349;
}

.section__info{
    color: #2c2b2e;
    font-size: 16px;
    line-height: 1.7;
}


.header{
    background-color: #FEDE77;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100%;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__row{
    display: flex;
    max-width: 30%;
    width: 100%;
}

.header__row__bottons{
    display: flex;
    justify-content: flex-end;
}

.header__nav__button{
    background: url("../img/burger-menu.png") no-repeat center / cover;
    border: none;
    width: 30px;
    height: 40px;
    cursor: pointer;
}


.header__socials{
    margin-left: 50px;
    max-width: 130px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__socials__link{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all;
    background: #fff;
    transition: all 0.5s
}

.header__socials__link-vk{
    background: #fff url("../img/vk.svg") no-repeat center;
    background-size: 40%;
}
.header__socials__link-telegram{
    background: #fff url("../img/telegram.svg") no-repeat center;
    background-size: 40%;
}
.header__socials__link-insta{
    background: #fff url("../img/insta.svg") no-repeat center;
    background-size: 40%;
}

.header__socials__link-vk:hover{
    background: #FB8349 url("../img/vk.svg") no-repeat center;
    background-size: 40%;
}
.header__socials__link-telegram:hover{
    background: #FB8349 url("../img/telegram.svg") no-repeat center;
    background-size: 40%;
}
.header__socials__link-insta:hover{
    background: #FB8349 url("../img/insta.svg") no-repeat center;
    background-size: 40%;
}

.header__logo{
    width: 118px;
}

.header__buttons{
    max-width: 320px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__button{
    font-family: Montserrat Alternates;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}


.header__button__login{
    color: #514391;
    background-color: #fff;
}

.header__button__reg{
    background-color: #514391;
    color: #fff;
}

.header__button:hover{
    background-color: #FB8349;
    color: #fff;
}

.header__basket{
    position: relative;
    width: 30px;
    height: 30px;
    background: #FEDE77 url("../img/basket.svg") no-repeat center / cover;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.header__basket:hover{
    background: url("../img/basket-light.svg") no-repeat center / cover;
}
/* #FB8349 */
.header__basket__amount{
    font-family: Montserrat Alternates;
    font-weight: bold;
    font-size: 10px;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: -5px;
    margin-right: -5px;
    width: 17px;
    height: 17px;
    background-color: #FB8349;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.hero{
    position: relative;
    z-index: 5;
    background: #FEDE77 url("../img/hero-img.png") no-repeat right;
    background-size: 55% auto;
    padding-top: 250px;
    height: 100vh;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.hero__block{
    display: flex;
    flex-direction: column;
    max-width: 480px;
}

.hero__title{
    font-size: 60px;
    color: #443F54;
    margin-bottom: 50px;
}

.hero__title__primary{
    color: #6252B0;
}

.hero__text{
    color: #443F54;
    margin-bottom: 50px;
}

.hero__link__block{
    display: inline-block;
}

.hero__link{
    color: #fff;
    background-color: #FB8349;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.5s;
}

.hero__link:hover{
    background-color: #6252B0;
}

.stock{
    text-align: center;
    padding-top: 350px;
    margin-top: -200px;
    padding-bottom: 70px;
    background-color: #fffaf2;
}

.stock__info{
    display: inline-block;
    max-width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.stock__cards{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.stock__card{
    max-width: 30%;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    text-decoration: none;
    transition: all 0.5s;
}

.stock__card:hover{
    background-color: blanchedalmond;
}

.stock__card__img__block{
    background-color: darkgrey;
    height: 200px;
    margin-bottom: 20px;
    overflow: hidden;
}

.stock__card__img{
    width: 370px;
    min-height: 200px;
}

.stock__card__title{
    line-height: 1;
    font-size: 20px;
    color: #443f54;
    margin-bottom: 20px;
}

.stock__card__time{
    color: #2c2b2e;
}

.stock__link{
    background-color: #FB8349;
    color: #fff;
}

.stock__link:hover{
    background-color: #6252B0;
}

.promo__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo__block:nth-child(1){
    margin-bottom: 200px;
}

.promo__img{
    max-width: 45%;
}

.promo__content{
    max-width: 45%;
}

.promo__title{
    margin-bottom: 50px;
}

.interest{
    background-color:#fffaf2;
}

.interest__cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.interest__card{
    max-width: 49%;
    width: 100%;
    border-radius: 20px;
    padding: 0 40px;
    padding-bottom: 70px;
}

.interest__card-store{
    background: #FEDE77 url("../img/store-bg.webp") no-repeat bottom right;
}

.interest__card-courier{
    background:#6252B0 url("../img/courier-bg.png") no-repeat bottom right;
}

.interest__title{
    font-size: 35px;
    padding-top: 50px;
    margin-bottom: 30px;
}

.interest__title-light{
    color: #FEDE77;
}

.interest__title-dark{
    color: #6252B0;
}

.interest__info{
    display: flex;
    max-width: 350px;
    margin-bottom: 50px;
}

.interest__link{
    transition: all 0.5s;
}


.interest__info-light{
    color: #fff;
}

.interest__link-first{
    background-color: #6252B0;
    color: #fff;
}

.interest__link-second{
    background-color: #FEDE77;
    color: #2c2b2e;
}

.interest__link:hover{
    background-color: #FB8349;
}
.support__content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.support__heading{
    display: flex;
    flex-direction: column;
    max-width: 370px;
}

.support__title{
    margin-bottom: 30px;
}

.support__info{
    margin-bottom: 35px;
}

.support__link{
    display: flex;
    justify-content: center;
    max-width: 220px;
    color: #fff;
    background-color: #6252B0;
    transition: all 0.5s;
}

.support__link:hover{
    background-color: #FB8349;
}

.support__questions{
    max-width: 750px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.support__questions__card{
    max-width: 360px;
    background-color: #fffaf2;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    height: 55px;
    overflow: hidden;
    transition: height 0.5s;
}

.support__questions__card-active{
    height: 150px;
}


.support__questions__heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 20px; */
    padding: 20px;
}

.support__questions__heading:hover{
    color: #FB8349;
}

.support__questions__title{
    font-size: 14px;
}

.support__questions__title-active{
    color: #FB8349;
}

.support__questions__arrow{
    width: 15px;
    transition: transform 0.3s;
}

.support__questions__arrow-active{
    transform: rotate(-180deg);
}

.support__questions__info{
    display: flex;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.app{
    background-color: #FEDE77;
}

.app__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__title{
    margin-bottom: 35px;
}

.app__info{
    display: flex;
    max-width: 500px;
    margin-bottom: 35px;
}

.app__offer{
    max-width: 350px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #443f54;
}

.footer__content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__title{
    color: #FEDE77;
    font-size: 20px;
}

.footer__nav__title{
    margin-bottom: 30px;
}

.footer__nav__link{
    display: flex;
    flex-direction: column;
}

.footer__nav__link{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 15px;
    transition: color 0.5s;
}

.footer__nav__link:hover{
    color: #FB8349;
}


.footer__form__title{
    margin-bottom: 20px;
}

.footer__form__info{
    color: #fff;
    font-weight: 500;
    display: flex;
    max-width: 400px;
    margin-bottom: 20px;
}

.footer__form__content{
    display: flex;
    align-items: center;
}

.footer__form__input{
    height: 45px;
    max-width: 300px;
    width: 100%;
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    font-family: Montserrat Alternates;
}

.footer__form__button__container{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    background-color: #6252B0;
}

.footer__form__button{
    cursor: pointer;
    height: 45px;
    width: 50px;
    border: none;
    background: url("../img/send.svg") no-repeat center / cover;
    background-size: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__form__button-send{
    animation: send 0.7s;
}



.footer__socials{
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    max-width: 150px;
    width: 100%;
}

.footer__socials__link{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: 50%;
    transition: background 0.5s;
}

.footer__socials__link-vk{
    background: #6252B0 url("../img/vk.svg") no-repeat center;
    background-size: 40%;
}
.footer__socials__link-telegram{
    background: #6252B0 url("../img/telegram.svg") no-repeat center;
    background-size: 40%;
}
.footer__socials__link-insta{
    background: #6252B0 url("../img/insta.svg") no-repeat center;
    background-size: 40%;
}
.footer__socials__link-vk:hover{
    background: #FEDE77 url("../img/vk-dark.svg") no-repeat center;
    background-size: 40%;
}
.footer__socials__link-telegram:hover{
    background: #FEDE77 url("../img/telegram-dark.svg") no-repeat center;
    background-size: 40%;
}
.footer__socials__link-insta:hover{
    background: #FEDE77 url("../img/insta-dark.svg") no-repeat center;
    background-size: 40%;
}

.footer__logo{
    width: 118px;
    height: 18px;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    max-width: 33%;
    width: 100%;
    height: 100vh;
    background-color: #6252b0;
    display: flex;
    justify-content: flex-end;
    transform: translateX(-101%);
    transition: transform 0.5s;
}

.menu-active{
    transform: translateX(0);
}

.menu__nav{
    padding-top: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: column;
}

.menu__link{
    margin-bottom: 30px;
    font-size: 20px;
    color: #fede77;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.5s;
}

.menu__link:hover{
    color: #FB8349;
}

.menu__link-primary{
    color: #FB8349;
}

.menu__close{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px;
    width: 15px;
    height: 15px;
    background: url("../img/close.svg") no-repeat center / cover;
}

/* heading */

.heading{
    background-color: #FEDE77;
    height: 370px;
    padding-top: 170px;
    text-align: center;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.heading__title{
    font-size: 60px;
    color: #6252B0;
}

.heading__location{
    margin-top: 20px;
    font-size: 16px;
    color: #443f54;
}

.heading__link{
    text-decoration: none;
    color: #443f54;
}

.heading__link:hover{
    color: #FB8349;
}

.heading__delimiter{
    margin-left: 5px;
    margin-right: 5px;
}


.stock__shop{
    margin-top: 0;
    padding-top: 100px;
    background-color: #fff;
}

.stock__shop__card{
    background-color: #fffaf2;
}

/* Страница products */

.prosucts{
    margin-top: 100px;
    margin-bottom: 70px;
}

.prosucts__cards{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.prosucts__card{
    max-width: 30%;
    width: 100%;
    background-color: #fffaf2;
    border-radius: 20px;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.prosucts__card__img__block{
    background-color: darkgrey;
    height: 200px;
    margin-bottom: 20px;
    overflow: hidden;
}

.prosucts__card__title{
    line-height: 1;
    font-size: 20px;
    color: #443f54;
    margin-bottom: 20px;
}

.prosucts__card__type{
    color: #2c2b2e;
}

.products__card__buy{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.products__card__button{
    border-radius: 10px;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.5s;
    background-color: #514391;
    color: #fff;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}


.products__card__button:hover{
    background-color: #FB8349;
}

.products__card__button__active{
    background-color: #FB8349;
}

.products__card__price{
    font-size: 18px;
}


/* Страница contacts */


.support__contacts__title{
    font-size: 20px;    
    color: #443f54;
    margin-bottom: 40px;
}

.support__contacts__text{
    font-size: 16px;
    color: #2c2b2e;
    margin-bottom: 40px;
    max-width: 230px;
    line-height: 1.5;
}

.support__contacts__links{
    display: flex;
    flex-direction: column;
}

.support__contacts__link{
    text-decoration: none;
    font-size: 16px;
    color: #443f54;
    line-height: 1.5;
    transition: color 0.5s;
}

.support__contacts__link:hover{
    color: #FB8349;
}

.feedback{
    background-color: #fffaf2;
    text-align: center;
}

.feedback__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback__title{
    font-size: 40px;
    color: #6252B0;
}

.feedback__form{
    margin-top: 50px;
    max-width: 400px;
    width: 100%;
}

.feedback__form__inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback__input{
    height: 40px;
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat Alternates;
}

.feedback__input__text{
    height: 100px;
    max-width: 100%;
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    font-family: Montserrat Alternates;
}

.feedback__button{
    cursor: pointer;
    margin-top: 20px;
    color: #fff;
    background-color: #6252B0;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    padding: 15px 30px;
    font-weight: 600;
    transition: all 0.5s;
}

.feedback__button:hover{
    color: #6252B0;
    background-color: #fede77;
}

.basket{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.basket__content{
    position: relative;
    background-color: #fff;
    max-width: 800px;
    width: 100%;
    padding: 50px;
    border-radius: 20px;
    max-height: 100vh;
    overflow-y: auto;
}

.basket__title{
    font-size: 30px;
}

.basket__cards{
    margin-top: 30px;
}

.basket__card{
    position: relative;
    background-color: rgb(244, 244, 244);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
}

.basket__card:not(:last-child){
    margin-bottom: 20px;
}

.basket__card__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 180px;
    width: 100%;
    margin-right: 30px;
}

.basket__card__control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
}

.basket__card__count{
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

#plus{
    background-color: #6252b0;
}

#minus{
    background-color: #ab9afe;
}

.basket__card__count:hover{
    transform: scale(1.1);
}

.basket__button__block{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.basket__reg{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 30px;
}

.basket__reg__hidden{
    display: none;
}


.basket__price__info{
    font-weight: bold;
}

.basket__button{
    margin-top: 30px;
    border-radius: 10px;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.5s;
    border: none;
    background-color: #FB8349;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.basket__button:hover{
    background-color: #6252B0;
}

.basket__card__delete{
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -5px;
    margin-right: 20px;
    width: 10px;
    height: 10px;
    background: url("../img/close-dark.svg") no-repeat center / cover;
    border: none;
}


.basket__close{
    width: 20px;
    height: 20px;
    background: url("../img/close-dark.svg") no-repeat center / cover;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 50px;
    cursor: pointer;
}

.basket__price__hiden{
    display: none;
}

#basketNull{
    display: none;
    margin-top: 20px;
}

.select{
    border: none;
    background-color: #FEDE77;
    padding: 10px 20px;
    border-radius: 20px;
}

.option{
    font-size: 20px;
}

.prosucts__types__block{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    max-width: 250px;
    width: 100%;
    margin: auto;
}

.products__chose{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fede77;
    border-radius: 20px;
    max-width: 100%;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}


.products__chose:active{
    background-color: #FB8349;
    color: #fff;
}

.products__chose__arrow{
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    margin-top: 15px;
    margin-right: 20px;
    position: absolute;
    background: url("../img/arrow.svg") no-repeat center / cover;
}

.products__chose__arrow__active{
    transform: rotate(180deg);
}


.prosucts__types{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    margin-top: 20px;
    background-color: #FEDE77;
    border-radius: 20px;
    overflow: hidden;
    transition: height 0.3s;
    height: 0;
}

.prosucts__types__active{
    height: auto;
}

.prosucts__type{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin: auto;
    padding: 10px 0;
    transition: all 0.3s;
}


.prosucts__type:active{
    background-color: #FB8349;
    color: #fff;
}

.up{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
    margin: 20px;
    background: #fede77 url("../img/arrow.svg") no-repeat center / cover;
    background-size: 50%;
    transform: rotate(180deg) scale(0);
    border-radius: 50%;
    z-index: 10000;
    transition: all 0.3s;
}

.up-active{
    transform: rotate(180deg) scale(1);
}


@keyframes send {
    0% { 
        transform: scale(1);
     }
    20% { 
        transform: rotate(35deg) scale(1.2);
     }
    40% { 
        transform: rotate(-35deg) scale(1.2);
     }
    60% { 
        transform: rotate(35deg) scale(1.2);
     }
    80% { 
        transform: rotate(-35deg) scale(1.2);
    }
    100% { 
        transform: scale(1);
    }
  }


 @media screen and (max-width: 1280px) {
    .container{
        max-width: 1024px;
    }
    .support__questions__card{
        max-width: 350px;
    }
    .menu__nav{
        padding-top: 150px;
        padding-right: 70px;
    }
 }


 @media screen and (max-width: 1024px){
    .container{
        max-width: 768px;
    }
    .header__row{
        max-width: 35%;
    }
    .header__socials{
        margin-left: 20px;
    }
    .header__button{
        padding: 15px 20px;
    }
    .hero__text{
        max-width: 400px;
    }
    .hero{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .support__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .support__heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        text-align: center;
    }
    .stock__card{
        max-width: 47%;
    } 
    .promo__block:nth-child(1){
        margin-bottom: 100px;
    }
    .app__img{
        max-width: 55%;
    }
    .interest__card-store{
        background-size: 45%;
    }
    
    .interest__card-courier{
        background-size: 45%;
    }
    .menu{
        max-width: 40%;
    }
    .prosucts__card{
        max-width: 47%;
    } 
 }
 
 @media screen and (max-width: 768px) {
    .container{
        max-width: 480px;
    }
    .header{
        padding-top: 20px;
        position: absolute;
    }
    .header__content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header__row{
        max-width: 100%;
        justify-content: center;
    }
    .header__logo__link{
        order: 1;
    }
    .header__logo{
        width: 173px;
    }
    .header__row{
        max-width: 60%;
    }
    .header__row__nav{
        order: 3;
    }
    .header__row__bottons{
        order: 2;
        margin: 20px 0;
    }    
    .header__button{
        padding: 15px 30px;
    }
    .header__basket{
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 20px;
        width: 50px;
        height: 50px;
        background-size: 60%;
        border-radius: 50%;
    }
    .header__basket__amount{
        top: 0;
        width: 20px;
        height: 20px;
        font-size: 12px;
    }
    .hero{
        text-align: center;
        background-position: bottom right;
        background-size: 80% auto
    }
    .hero__block{
        align-items: center;
    }
    .stock__card{
        max-width: 100%;
    }
    .stock__card__img__block{
        height: 350px;
    }
    .stock__card__img{
        width: auto;
        height: 350px;
    }
    .promo{
        text-align: center;
    }
    .promo__block{
        flex-direction: column;
    }
    .promo__img{
        max-width: 100%;
        margin-bottom: 40px;
    }
    .promo__img-payment{
        order: 1;
    }
    .promo__content{
        max-width: 100%;
        order: 2;
    }
    .interest__cards{
        flex-direction: column;
    }
    .interest__card{
        max-width: 100%;
        text-align: center;
    }
    .interest__card-store{
        background: #FEDE77;
    }
    .interest__card-courier{
        background: #6252b0;
    }
    .interest__info{
        max-width: 100%;
    }
    .interest__card-store{
        margin-bottom: 30px;
    }
    .support__questions__card{
        max-width: 100%;
    }
    .app{
        text-align: center;
    }
    .app__heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    .app__block{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .app__img{
        max-width: 100%;
    }
    .footer__form__block{
        max-width: 60%;
    }
    .heading{
        padding-top: 220px;
    }
    .prosucts__card{
        max-width: 100%;
    }
    .prosucts__card__img__block{
        height: 350px;
    }
    .prosucts__card__img{
        width: auto;
        height: 350px;
    }


    .header__socials__link-vk:hover{
        background: #fff url("../img/vk.svg") no-repeat center;
        background-size: 40%;
    }
    .header__socials__link-telegram:hover{
        background: #fff url("../img/telegram.svg") no-repeat center;
        background-size: 40%;
    }
    .header__socials__link-insta:hover{
        background: #fff url("../img/insta.svg") no-repeat center;
        background-size: 40%;
    }

    .header__button__login:hover{
        color: #514391;
        background-color: #fff;
    }
    
    .header__button__reg:hover{
        background-color: #514391;
        color: #fff;
    }

    .hero__link:hover{
        background-color: #FB8349;
    }

    .stock__card:hover{
        background-color: #fff;
    }
    
    .stock__link:hover{
        background-color: #FB8349;
    }

    .interest__link-first:hover{
        background-color: #6252B0;
        color: #fff;
    }
    
    .interest__link-second:hover{
        background-color: #FEDE77;
    }

    .support__link:hover{
        background-color: #514391;
    }

    .footer__nav__link:hover{
        color: #fff;
    }

    .footer__socials__link-vk:hover{
        background: #6252B0 url("../img/vk.svg") no-repeat center;
        background-size: 40%;
    }
    .footer__socials__link-telegram:hover{
        background: #6252B0 url("../img/telegram.svg") no-repeat center;
        background-size: 40%;
    }
    .footer__socials__link-insta:hover{
        background: #6252B0 url("../img/insta.svg") no-repeat center;
        background-size: 40%;
    }
        
    .menu__link:hover{
        color: #fede77;
    }

    .heading__link:hover{
        color: #443f54;
    }

    .support__contacts__link:hover{
        color: #443f54;
    }

    .feedback__button:hover{
        color: #fff;
        background-color: #6252B0;
    }
    .products__card__button:hover{
        background-color: #514391;
    }
    .basket__card__count:hover{
        transform: scale(1);
    }
    .basket__button:hover{
        background-color: #FB8349;
    }
    .header__basket:hover{
        background: #fede77 url("../img/basket.svg") no-repeat center / 60%;
    }
    .menu{
        max-width: 60%;
    }
}

@media screen and (max-width: 480px){
    .header__row{
        max-width: 90%;
    }
    .container{
        max-width: 320px;
    }
    .section__title{
        font-size: 37px;
    }
    .hero__title{
        font-size: 40px;
    }
    .stock{
        padding-top: 100px;
        margin-top: 0;
    }
    .stock__info{
        margin-top: 30px;
    }
    .stock__card__img__block{
        height: 220px;
    }
    .stock__card__img{
        height: 220px;
    }
    .interest__card{
        padding: 0;
        padding-bottom: 50px;
    }
    .promo__title{
        margin-bottom: 30px;
    }
    .interest__title{
        padding-top: 20px;
    }
    .support__questions__card{
        height: 70px;
    }
    .support__questions__card-active{
        height: 150px;
    }
    .app__offer__img{
        max-width: 47%;
    }
    .footer{
        text-align: center;
    }
    .footer__content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__nav{
        align-items: center;
        margin-bottom: 30px;
    }
    .footer__form__block{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .heading{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .heading__title{
        font-size: 50px;
    }
    .menu{
        max-width: 100%;
        justify-content: center;
    }
    .menu__nav{
        padding-right: 0;
    }
    .prosucts__card__img__block{
        height: 220px;
    }
    .prosucts__card__img{
        height: 220px;
    }
    .basket__card{
        flex-direction: column;
        align-items: flex-start;
    }
    .basket__card__title{
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) {
    .prosucts__type:hover{
        background-color: #FB8349;
        color: #fff;
    }
    .products__chose:hover{
        background-color: #FB8349;
        color: #fff;
    }
    
}

@media screen and (max-height: 720px) {
    .hero {
      padding-top: 150px;
    }
  }
  @media (max-width: 768px) and (max-height: 720px) {
    .hero {
      padding-top: 200px;
    }
  }